@charset "UTF-8";

.site-nav {
    height: 30px;
    line-height: 30px;
    background-color: #F1F1F1;

}

.site-nav-send  , .site-nav-menu  li{
    position: relative;
    padding-left: 12px;
    padding-right: 20px;
}


.site-nav-send i   , .site-nav-menu i{
    position: absolute;
    height: 14px;
    width: 14px;
    line-height: 14px;
    top: 12px;
    right: 2px;
    overflow: hidden;

}
.site-nav-send s  , .site-nav-menu s {
    position: absolute;
    font: 600 12px/150% Consolas;
    margin-top: -8px;
}



.site-nav-menu  li {
    float: left;

}

.site-nav-menu  li.separator {
    padding:0 ;
    margin: 9px 0;
    width: 1px;
    height: 12px;
    background-color: #DDDDDD;
}

.site-nav-menu  li.cellphone {
    padding-left: 27px;
    background:url(../img/tel.png) 9px 5px no-repeat ;

}

.adv {
    background-color: #FD6500;
}

.adv  div{
    position: relative;

}

.adv .adv-close{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 19px;
    height: 19px;
    background: url(../img/close-banner.png)  bottom  no-repeat;
}


.search-jd  .search-jd-logo {
    float: left;
    width: 362px;
    height: 100px;
    background: url(../img/logo.png ) 0 30px no-repeat;
}

.search-jd-logo  a{
    float: left;
    text-indent: -99999px;
}